@import (inline) "./node_modules/bootstrap/dist/css/bootstrap.min.css";

@import url(https://fonts.googleapis.com/css?family=Alfa+Slab+One);


body {
  background-color: #FF0000;
}
h1, h2, h3, h4, h5 {
  font-family: "Alfa Slab One";
  color: #ffffff;
}

.title-text{
  text-align: center;
}

h1.title-text {
  letter-spacing: 3px;
  font-size: 96pt;
}
h2.title-text {
  font-size: 96px;
}
h3.title-text {
  font-size: 69px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
